*,
*::after,
*::before {
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.blueBg {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}
.hidden {
  display: none;
}
.zi1{
  z-index: 1;
}
.zi2{
  z-index: 2;
}

input[type=password], input[type=text], input[type=number] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #cccccc;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.textCenter {
  text-align: center;
}

.white {
  color: white;
}
.bl {
  color: black;
}
.fb {
  font-weight: bold;
}
.marginT25 {
  margin-top: 25px;
}
.transition0_5{
  transition : all .5s;
}
.fl {
  float: left !important;
}
.fr {
  float: right;
}
.w50 {
  width: 50%;
}
.f18 {
  font-size: 18px;
}
.f11 {
  font-size: 11px;
}
.padT20 {
  padding-top: 20px;
}
.mh10p {
min-height: 10%
}
.padT10 {
  padding-top: 10px;
}
.padB10 {
  padding-bottom: 10px;
}
.padB20 {
  padding-bottom: 20px;
}
.di {
  display: inline;
}
.whiteBrdrBtm {
  border-bottom: 1px solid #ffffff !important;
}
.mT25 {
  margin-top: 25px;
}
.padL10 {
  padding-left: 10px;
}
.posRel {
  position: relative;
}
.dn {
  display: none;
}
.m10{
  margin: 10px !important;
}
.mt10{
  margin-top: 10px !important;
}
.mt20{
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.loginRedirect {
  margin: 50% auto;
  text-align: center;
}