*,
*::after,
*::before {
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.blueBg {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}
.hidden {
  display: none;
}
.zi1{
  z-index: 1;
}
.zi2{
  z-index: 2;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.textCenter {
  text-align: center;
}

.white {
  color: white;
}
.bl {
  color: black;
}
.fb {
  font-weight: bold;
}
.marginT25 {
  margin-top: 25px;
}
.transition0_5{
  transition : all .5s;
}
.fl {
  float: left !important;
}
.fr {
  float: right;
}
.w50 {
  width: 50%;
}
.f18 {
  font-size: 18px;
}
.f11 {
  font-size: 11px;
}
.padT20 {
  padding-top: 20px;
}
.mh10p {
min-height: 10%
}
.padT10 {
  padding-top: 10px;
}
.padB10 {
  padding-bottom: 10px;
}
.padB20 {
  padding-bottom: 20px;
}
.di {
  display: inline;
}
.whiteBrdrBtm {
  border-bottom: 1px solid #ffffff !important;
}
.mT25 {
  margin-top: 25px;
}
.padL10 {
  padding-left: 10px;
}
.posRel {
  position: relative;
}
.dn {
  display: none;
}
.m10{
  margin: 10px !important;
}
.mt10{
  margin-top: 10px !important;
}
.mt20{
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.loginRedirect {
  margin: 50% auto;
  text-align: center;
}
.themeBg {
background-color: #0757d0 !important;
}
.themeColor {
  color: #0757d0 !important;
}
.themeBrdrBtm {
  border-bottom: 1px solid #0757d0 !important;
}
.themeBrdr{
  border: 1px solid #0757d0 !important;
}

.white {
  color: white;
}
.db {
  display: block;
}
.w33 {
  width: 33%;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.w25 {
  width: 25%;
}
.w75 {
  width: 75%;
}
.w20 {
  width: 20%;
}
.w85 {
  width: 85%;
}
.red {
  color: red;
}
.in-bl{
  display: inline-block
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.fr {
  float: right;
}
.padR15{
  padding-right: 15px;
}

.fs14 {
  font-size: 14px;
}
.fs12 {
  font-size: 12px !important;
}
.whiteBg {
  background-color: white;
}
.mf5{
  margin:5px !important;
}
.white {
  color: white !important;
}
.padB20 {
  padding-bottom: 20px;
}
.padB10 {
  padding-bottom: 10px;
}
.w60 {
  width: 60% !important;
}
select {
  text-align-last: center;
}
.tu{
  text-decoration: underline;
}

.disableBtn {
  opacity: 0.5;
  pointer-events: none;
}

.requiredAshterix {
  color: #bd0000;
}
.mr7{
  margin-right: 7px;
}
.zi10 {
  z-index: 10;
}
.zi9 {
  z-index: 9;
}
.mh62 { 
  min-height: 62px !important;
}
.dflex{
  display: flex;
}
.dfcenter{
  justify-content: center;
}