*,
*::after,
*::before {
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.blueBg {
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}
.hidden {
  display: none;
}
.zi1{
  z-index: 1;
}
.zi2{
  z-index: 2;
}

input[type=text], input[type=number] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #cccccc;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.textCenter {
  text-align: center;
}

.white {
  color: white;
}
.bl {
  color: black;
}
.fb {
  font-weight: bold;
}