.first-half-landing {
  /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
  /* background-image: linear-gradient(to bottom, #2d6bfd, #22c1c3); */
  background-color: #4688F1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
}

.other-half-landing {
  background-color: white;
}
.left-menu-container {
  float: left;
  padding: 10px;
}
.left-menu-container:hover {
  cursor: pointer;
}
.right-menu-container {
  float: right;
  padding: 10px;
}
.right-menu-container:hover {
  cursor: pointer;
}
.left-menu {
  height: 20px;
  width: 20px;
}

.right-menu {
  height: 20px;
  width: 20px;
}

.popup {
  transition: all 750ms;
  position: fixed;
  width: 100vw;
  right: 100%;
}
.backDrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
}
.sideBar {
  width: 70%;
  background-color: white;
  height: 100vh;
  padding: 30px;
  padding-top: 40px;
}
/* .backDrop {
  background-color: black;
  opacity: 0.3;
  height: 100vh;
  width: 60%;
} */
.in-bl{
  display: inline-block
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.right0 {
  right: 0%;
}

.menu-option {
  border-bottom: 2px solid #757575c9;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 13px;
  color: #757575c9;
  font-weight: bold;
  
}
.transition2a{
  transition: all 500ms;
}

.heading {
  font-size: 16px;
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.subHeading {
  font-size: 14px;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.firstHalfTxt {
  transition: all 500ms;
}

.scale90 {
  transform: scale(0.90);
}
.expenseDaysBtn {
  padding: 10px;
  text-align: center;
}

.dayTypeBtn {
  /* color: #5f5e5e;
  background-color: white;
  border-radius: 20px;
  border-color: white;
  padding: 6px 15px;
  font-size: 14px;
  margin: 5%;
  font-weight: bold;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3); */
  color: white;
  padding: 6px 7px;
  font-size: 14px;
  margin: 5%;
  /* transition: all 500ms; */
}
.dayTypeBtn-active {
  font-weight: bold;
  border-bottom: 1px solid white;
  
}
/* .dayTypeBtn:hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.3);
  cursor: pointer;
} */
.newContainer {
  position: fixed;
  right: 0;
  left: 0;
  margin: 10px auto;
  bottom: 10px;
}
.new {
  position: relative;
  text-align: center;
}
.newBtn {
  color: #5f5e5e;
  background-color: white;
  border-radius: 20px;
  border-color: white;
  padding: 6px 15px;
  font-size: 14px;
  margin: 5%;
  font-weight: bold;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
}

.transactedCard {
  max-height: 25%;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  margin: 2% 4%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4)

}
.transactedCardInner {
  min-height: 10%;
  background-color: white;
  border-radius: 10px;
  margin: 2% 1%;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
}

.viewMoreArrow {
  text-align: center;
  padding-top: 10px;
}
.viewMoreArrow path {
  fill: white;
}
.viewMoreArrow:hover {
  cursor: pointer;
}
.rotateViewMore {
  transform: rotateZ(180deg);
}

.showAllTransaction {
  max-height: 60vh;
  overflow: scroll;
}

.progressBar {
  height: 7px;
  color: #fff;
  margin: 10px;
  position: relative;
  font-size: 14px;
  min-width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.progressBar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 7px;
  left: 0;
  top: 0;
  z-index: 0;
  background: #dee9fb;
  border-radius: 20px;
}
.progressBar:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 7px;
  left: 0;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(141deg, #4688f1, #4688f1);
  transition: 0.8s;
  display: block;
  animation: animate 1 4s;
  border-radius: 20px;

}
.progressBar1:after {
  max-width: 75%;
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.cardInnerheading {
  margin: 2% 4%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.cat_name {
  text-align: left;
  color: #757575;
  font-weight: bold;
  font-size: 14px;
}

.cat_percent {
  float: right;
  color: #757575;
  font-weight: bold;
  font-size: 14px;
}