.newExpenseContainer {
  background-color: white;
  min-height: 70%;
  position: fixed;
  top: 0;
  width: 70%;
  margin: 15%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.amountInput {
  margin-bottom: 10px;
  text-align: center;
}
.categoryInput{ 
  margin-bottom: 10px;
  text-align: center;
}
.spentDay {
  text-align: center;
  margin-bottom: 10px;
}
.dayIp {
  width: 14%;
  margin: 5px;
  text-align: center;
}
.submitBtn{
  color: white;
  background-color: #4688F1;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.expIncBtns {
  margin-top: 50px;
}
.selectedType{
background: #4688F1;
    color: white;
}

.errorDiv {
  color: b71c1c;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.2;
}
.spentDay select {
  background: transparent;
  border: none;
  margin-right: 10px;
}
.tapOption {
  border: 1px solid #4688F1;
  border-radius: 15px;
  padding: 2px 10px;
  font-size: 12px;
  background-color: aliceblue;
}
.activeTapOption {
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 2px 10px;
  font-size: 12px;
  color: white;
  background-color: #4688F1;
}